<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>KreateWeb</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <img src="../img/logo.png" class="logo" alt="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item mr-5">
              <a class="nav-link" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item mr-5">
              <a class="nav-link" href="about.html">Nosotros</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="contact.html">Contacto</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="about-img">
            <div class="image">
                <img src="../img/empresa.jpg" id="company" alt="">
            </div>
            <h1>NUESTRA EMPRESA</h1>
            <h3>La única que se preocupa por ti</h3>
        </div>

          <div class="row row-cols-1 row-cols-md-3 mt-5 pt-5">
            <div class="col mb-4">
              <div class="card h-100">
                <img src="../img/valores.jpg" class="card-vmv card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-5">Valores</h5>
                  <p class="card-text">
                      <ul id="values-list">
                          <li>Honestidad</li>
                          <li>Compromiso</li>
                          <li>Respeto</li>
                          <li>Confiabilidad</li>
                      </ul>
                  </p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="../img/mision.jpg" class="card-vmv card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-5">Misión</h5>
                  <p class="card-text">Darte un excelente producto que te ayude a cumplir todas tus metas, brindandote el mejor servicio y atención.</p>
                </div>
              </div>
            </div>
            <div class="col mb-4">
              <div class="card h-100">
                <img src="../img/mision_vision_valores.jpg" class="card-vmv card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title mb-5">Visión</h5>
                  <p class="card-text">Nuestra prioridad es que logres tus objetivos, haciendo que tu empresa o negocio sea visual dentro de internet y las redes sociales, para así maximisar tus ganancias</p>
                </div>
              </div>
            </div>
          </div>
      </div>
        <footer>
          <div class="footer">
              <img src="../img/logo.png" class="logo" alt="logo">
              <button type="submit" mr-5><a href="contact.html">Contacto</a></button>
          </div>
          <div class="cards">
            <div class="row row-cols-1 row-cols-md-3 pl-5">
              <div class="col mb4">
                <p class="paragraph">La mejor solución</p>
              </div>
              <div class="col mb-4">
                <p id="second-paragraph" class="paragraph">Información de contacto</p>
                <span class="contact-info d-block">Telefóno: 55 8686 0053</span>
                <span class="contact-info">Email</span>
              </div>
              <div class="social-media col mb-4">
                <img src="../img/face.png" alt="facebook" id="face">
                <img src="../img/twitter.png" alt="" class="redes ml-1">
                <img src="../img/instagram.png" alt="" class="redes ml-4">
              </div>
            </div>
          </div>
        </footer>
    
    <script src="../js/jquery-3.5.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>